<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="http://demo.tanimdesign.net/template/tshop-v1.2/html/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="assets/ico/favicon.png">
<title>TSHOP - Bootstrap E-Commerce Parallax Theme </title>
<!-- Bootstrap core CSS -->
<link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- add theme styles for this template -->
<link id="pagestyle" rel="stylesheet" type="text/css" href="assets/css/skin-1.css">

<!-- css3 animation effect for this template -->
<link href="assets/css/animate.min.css" rel="stylesheet">

<!-- styles needed by mCustomScrollbar -->
<link href="assets/css/jquery.mCustomScrollbar.css" rel="stylesheet">


<!-- Just for debugging purposes. -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->  

<!-- include pace script for automatic web page progress bar  -->


 <script>
    paceOptions = {
      elements: true
    };
</script>

<script src="assets/js/pace.min.js"></script>
      
    </head>

<body>
  
    
<!-- Modal Login start --> <div <!DOCTYPE html> <html lang="en">     <head>
<meta charset="utf-8">         <meta name="viewport" content="width=device-
width, initial-scale=1.0">         <!-- Fav and touch icons -->         <link
rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-
touch-icon-144-precomposed.png">         <link rel="apple-touch-icon-
precomposed" sizes="114x114" href="assets/ico/apple-touch-
icon-114-precomposed.png">         <link rel="apple-touch-icon-precomposed"
sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
href="http://demo.tanimdesign.net/template/tshop-v1.2/html/ico/apple-touch-
icon-57-precomposed.png">         <link rel="shortcut icon"
href="assets/ico/favicon.png">         <title>TSHOP - Bootstrap E-Commerce
Parallax Theme </title>         <!-- Bootstrap core CSS -->         <link
href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">         <!-- add
theme styles for this template -->         <link id="pagestyle"
rel="stylesheet" type="text/css" href="assets/css/skin-1.css">         <!--
Custom styles for this template -->         <!-- css3 animation effect for this template -->
<link href="assets/css/animate.min.css" rel="stylesheet">         <!-- styles
needed by mCustomScrollbar -->         <link
href="assets/css/jquery.mCustomScrollbar.css" rel="stylesheet">         <link
href="assets/css/howto.css" rel="stylesheet">         <!-- Just for debugging
purposes. -->         <!-- HTML5 shim and Respond.js IE8 support of HTML5
elements and media queries -->         <!--[if lt IE 9]>         <script
src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script
src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->           <!-- include pace script for automatic web page
progress bar  -->         <script>             paceOptions = {
elements: true             };         </script>         <script
src="assets/js/pace.min.js"></script>
		
	<body>
		<!-- Modal Login start -->
		<%= render 'layouts/login' %>
		
		<!-- /.Modal Login --> 
		<!-- Modal Signup start -->
		<%= render 'layouts/signup' %>
			<!-- /.modal-dialog --> 
	
		
		<!-- Fixed navbar start -->
	<%= render 'layouts/nav' %>
		<!-- /.Fixed navbar  -->

    
	
<div class="parallax-section parallax-fx parallax-image-aboutus parallaxOffset no-padding">
  <div class="w100 ">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="parallax-content clearfix animated ">
         
            <h1 class="title-big text-center boxes-title-2">
            	
	            	<font style="background-color: rgba(0,0,0,0.7); padding: 0 15px 0 15px;" color="white"  LINE-HEIGHT:20px >
	            		<span >
	            			<strong>

	            		  THE ONLINE DESIGNER CONSIGNMENT EXPERTS
	            		  	</strong>
	            		   </span>
	            	</font>	  
                   
            </h1>
            	
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.parallax -->

<div class="container main-container ">
  
  <div class="row innerPage">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
     
          <h3 class="text-center boxes-title-1">
          	<strong>
           
              All For Funds
            
       		 </strong>
          </h3>    
           <blockquote>      
          <p class="lead text-center">
           Founded in 2011 by Lisa Butterly, AllforFunds is the foremost online haven to purchase and sell new and pre-loved designer goods. With high profile, highly coveted selling channels, an App in the iTunes store, AllforFunds has a world wide market of buyers and is a Gold Power Seller on eBay.com.
          </p>
          </blockquote>	

        
          <h3 class="text-center boxes-title-1 top-buffer">
          	<strong>
           
              Our Mission
            
       		 </strong>
          </h3>
            <blockquote>
          <p class="lead text-center">
          All for Funds is changing the face of consignment, one luxury good at a time! All for Funds strives to provide superior customer service and a smooth shopping experience. Selling with All for Funds is simple and effective. All for Funds is your online sales team, and is committed to helping you profit from your new and pre-loved luxury goods.

          </p>
        </div>
		</blockquote>

        <div class="col-xs-12 col-sm-12 col-md-12">
		
	        <div class="col-xs-12 col-sm-6  col-md-6">
	          <h2 class="title-med boxes-title-1 text-left" >	            
	             Sell with AllforFunds.com	            
	          </h2>
	        
	          <p class="lead"  style="margin-left:300px;">
	          	<h4 >
		            - Complimentary House Calls in the Denver Area <br/><br/>
		             - Free USPS Shipping of your approved items<br/><br/>
		             - First Class Client Services<br/><br/>
		             - Exculusive Client Inventory Management Log-In System<br/><br/>
		             - Maximum Exposure on multiple online selling platforms<br/><br/>
		             - Highly secure storage with video cameras technology for your items  <br/><br/>
		          </h4>
	          </p>
	       
	        </div> 
	        <div class="col-xs-12 col-sm-6  col-md-6">
	           	<h2 class="title-med boxes-title-1 text-left">		            
		            Shop with AllforFunds.com
		        </h2>
          		<p class="lead"  style="margin-left:300px;">
          		    <h4 >
	         		   - Search by your favorite brand name, designer, size, color and style	<br/><br/>
	         		   - Always Free Shipping	<br/><br/>
	         	       - Many items New with Tags<br/><br/>
	         	       - Shop Top brand name designers at friendly prices<br/><br/>
	         	       - Item wrapped with a bow	<br/><br/>
	         	       - Fast Shipping, Six days a Week	<br/><br/>
	         	       - Simple Shopping, Simple Returns	<br/><br/>
	                   - Why Pay Full Retail?<br/><br/> 
	                 </h4>
	          	</p>
	        </div>
          	<hr />
     </div>
        <div class="col-xs-12 col-sm-12 top-buffer" >
  		
	        <div class="col-xs-5 col-sm-5 col-md-5">
	           		<img class="img-responsive" src="/images/pages/index/slider/model.jpg" alt="img" > 
	        		<p class="lead text-center"  style="margin-top: 5px;">
	        			<h3>Founder: Lisa Butterly</h3>
	        		</p>
	        </div>
	        <div class="col-xs-2 col-sm-2 col-md-2" >	      	
	      
        	</div>
            
        	<div class="col-xs-5 col-sm-5 col-md-5" >
        		<img class="img-responsive" src="/images/pages/index/slider/about_page2.jpg" alt="img" >
	        </div>
	   
        </div>
      </div>  <!--/row end-->
    </div>
  </div> <!--/.innerPage-->
  <div style="clear:both">  </div>
</div><!-- /.main-container -->
<div class="gap"> </div>



<%= render 'layouts/footer' %>

</body>

</html>


