<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="http://demo.tanimdesign.net/template/tshop-v1.2/html/ico/apple-touch-icon-57-precomposed.png">

<link rel="shortcut icon" href="/assets/ico/favicon.png">
<title>All For Funds - Designer Items for Less</title>
<!-- Bootstrap core CSS -->
<link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- add theme styles for this template -->
<link id="pagestyle" rel="stylesheet" type="text/css" href="/assets/css/skin-1.css">

<!-- css3 animation effect for this template -->
<link href="/assets/css/animate.min.css" rel="stylesheet">

<!-- styles needed by carousel slider -->
<link href="/assets/css/owl.carousel.css" rel="stylesheet">
<link href="/assets/css/owl.theme.css" rel="stylesheet">

<!-- styles needed by checkRadio -->
<link href="/assets/css/ion.checkRadio.css" rel="stylesheet">
<link href="/assets/css/ion.checkRadio.cloudy.css" rel="stylesheet">

<!-- styles needed by mCustomScrollbar -->
<link href="/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
   
    
    <!-- styles needed by swiper slider -->
<link href="/assets/css/idangerous.swiper.css" rel="stylesheet">
    
    



<!-- Just for debugging purposes. -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->  

<!-- include pace script for automatic web page progress bar  -->

 <script>
    paceOptions = {
      elements: true
    };
</script>

<script src="/assets/js/pace.min.js"></script>
  </head>
  
  <body class="header-version-2">
    
<!-- Modal Login start -->
<%= render 'layouts/login' %>

<%= render 'layouts/signup' %>


<!-- Fixed navbar start -->
<%= render 'layouts/nav' %>

<!-- /.Fixed navbar  --> 

<div class="container main-container globalPaddingBottom"> 
  <div class="col-lg-12 text-center">
      
    <div class="home-intro">
      <h2>Discover a Better Shopping <span>Experience</span> -  clothes, fashion &amp; more </h2>
    </div>
    <br>
  </div>
    
    
  
  
  <div class="row featuredPostContainer">
    <div class="featuredImageLook3 col-lg-12">
       
    <div class="col-lg-12">
        <br>
      <h3 class="boxes-title-1"><span>SHOP BY PRICE</span></h3>
    </div>
    
      


      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">
                  <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Handbags & Bags">
                  
                  <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a> 
                </form></div>
              </div>
            </div>
          </div>
          <!--/.box-content-overly -->
          <div class="img-title"> Under $50</div>
          <a class="img-block" href="index5.html#"> <img class="img-responsive" src="/images/pages/shopbyprice/1000.png" alt="img"></a></div>
      </div>
      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">
                  <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Shoes">
                  
                
                  <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a> </form></div>
              </div>
            </div>
          </div>
          
          <!--/.box-content-overly -->
            <div class="img-title"> Under $100</div>
          <a class="img-block" href="index5.html#"> <img class="img-responsive" src="/images/pages/shopbyprice/500.png" alt="img"></a></div>
      </div>
      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">
                  <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Clothing">
                  
                
                  <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a> 
                </form></div>
              </div>
            </div>
          </div>
          <!--/.box-content-overly -->
          
          <div class="img-title"> Under $250</div>
          <a class="img-block" href="index5.html#"> <img class="img-responsive" src="/images/pages/shopbyprice/250.png" alt="img"></a></div>
      </div>

      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">
                  <input type="hidden" name="search" value="jeans">
                
                  <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a> </div>
                  </form>
              </div>
            </div>
          </div>
          <!--/.box-content-overly -->
          <div class="img-title"> Under $500</div>
          <a class="img-block" href="index5.html#"> <img class="img-responsive" src="/images/pages/shopbyprice/100.png" alt="img"></a></div>
      </div>

      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">
                  
                  <input type="hidden" name="search" value="top">

               
                  <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a> 
                 </form></div>
              </div>
            </div>
          </div>
          <!--/.box-content-overly -->
          
          
          
          <div class="img-title"> Over $1000</div>
          <a class="img-block" href="index5.html#"> <img class="img-responsive" src="/images/pages/shopbyprice/50.png" alt="img"></a></div>
      </div>
      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">
                  <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Clothing:Dresses">
                  <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a> </form></div>
              </div>
            </div>
          </div>
            <div class="img-title"> New With Tags </div>

          <a class="img-block" href="index5.html#"> <img  class="img-responsive" src="/images/pages/shopbyprice/nwt.png" alt="img"></a></div>
      </div>
    </div>
    <!--/.featuredImageLook3--> 
  </div>
    
  <!--/.featuredPostContainer--> 
    
    <div class="width100 section-block">
       
        
        
    <!--/.row--> 
  </div>
</div>
<!-- /main container -->




  
  </div>
</div>
<!--/.parallax-section-->
<script src="/assets/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
            $(document).ready(function() {
                 if (jQuery.cookie('pop') == null) {
                     jQuery('#myModal').modal('show');
                     jQuery.cookie('pop', '7');
                 }
             });
</script>


<%= render 'layouts/footer' %>
</body>
</html>